datasets/*
ActionBench/ego4d
ActionBench/ssv2
pretrained_ckpt/*
*.pth
*.pt
*.ckpt
checkpoint/
dummy_dataset/
src/visualization
output/
src/testing_outputs
_backup
**/__pycache__/
**/*.code-workspace
ckpt/
*.pt
*tar.gz
*.zip
# *.png
# *.jpg